<PageTitle>@Title</PageTitle>

<header>
    <span class="flex flex-row items-center text-gray-800 text-md @CssClass">
        @if (Icon is not null)
        {
            <button @onclick="OnBackClicked">
                <i class="@Icon mr-2"></i>
            </button>
        }
        <h1>@Title</h1>
    </span>
</header>

@code {
    [Parameter] public string Title { get; set; } = "Title";
    [Parameter] public string? Icon { get; set; }
    [Parameter] public EventCallback OnBackClicked { get; set; }
    [Parameter] public string CssClass { get; set; }
}