<div class="@CssClass">
    <div class="flex flex-col justify-between h-[calc(100vh-1rem)]">
        <div class="flex flex-row justify-end mx-3 my-3">
            <button class="flex flex-row justify-between">
                <i class="fas fa-times text-4xl mx-1"></i>
            </button>
        </div>
        <div class="flex flex-row justify-end mx-3 my-3">
            <img class="" />
            <button class="ml-1 mr-2 absolute top-1/2 left-0 bg-gray-100 rounded-full w-8 h-8 opacity-75">
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="ml-1 mr-2 absolute top-1/2 right-0 bg-gray-100 rounded-full w-8 h-8 opacity-75">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>

        <div class="flex flex-col justify-between my-14">
            <button>
                <i class="fas fa-trash text-3xl"></i>
            </button>
        </div>
    </div>
</div>


@code {
    [Parameter] public string? CssClass { get; set; }
}
