<button 
    type="button" 
    class="flex items-center transition-all bg-[#FAF6F3] rounded-md p-[7px] text-xl focus:outline-none @(IsSelected ? "bg-green-300" : "")" 
    @onclick="() => OnClick.InvokeAsync()"
>
    @if (Icon is not null)
    {
        <i class="ml-1 mr-2 @Icon"></i>
    }
    <span>@Title</span>
</button>

@code {
    [Parameter]
    public string Title { get; set; } = null!;
    [Parameter]
    public string? Icon { get; set; }
    [Parameter]
    public bool IsSelected { get; set; }
    [Parameter] 
    public EventCallback OnClick { get; set; }
}