@using Commentor.GivEtPraj.Blazor.Services
<button type="button" class="btn btn-primary" @onclick="StartVideo">Activate camera</button>
<button id="click-photo" @onclick="TakePhoto">Take photo</button>
<button id="flipCam-btn" @onclick="FlipCamera">Flip Camra</button>
<video id="video" width="640" height="480" autoplay></video>


@code {
    [Inject] private ICameraService CameraService { get; set; }
    [Parameter] public  EventCallback<string>  OnElementAdded { get; set; }

    private async Task TakePhoto()
    {
        await OnElementAdded.InvokeAsync(await CameraService.TakePhoto());
    }

    private async Task StartVideo()
    {
        await CameraService.GetCameraFeed();
    }

    private async Task FlipCamera()
    {
        await CameraService.FlipCamera();
    }
}
