@page "/TextFieldPage"
@using Commentor.GivEtPraj.Blazor.Components

<h3>TextFieldPage</h3>
<EditForm Model="Model">
    <TextField CssClass="mt-4" Title="Test søgning"></TextField>
</EditForm>

@code {
    private object Model = new();
}