@page "/camerafunctionalityspike"
@inject IJSRuntime JSRuntime;
@using Services

<PageTitle>Counter</PageTitle>

<h1>Camera Func</h1>

<video id="video" width="640" height="480" autoplay></video>


<button type="button" class="btn btn-primary" @onclick="StartVideo">Click Me</button>
<button id="click-photo" @onclick="TakePhoto">Click Photo</button>
<canvas id="canvas" width="320" height="240"></canvas>

@code {
    [Inject] private IJSRuntime JsRuntime { get; set; }
    [Inject] private ICameraService CameraService { get; set; }
    string base64string = "";

    async Task StartVideo()
    {
        await CameraService.GetCameraFeed();
    }

    async Task TakePhoto()
    {
        base64string = await CameraService.TakePhoto();
    }
}