@page "/geolocation"

<h3>Geolocation</h3>
  <h3>Getting Focused</h3>
     
    <button @onclick="OnButtonClicked">Click me for a message</button> 

    <input @ref="_inputRef" />

    <button @onclick="GetLocation">Get location</button>

    <h1>Your location: @CurrentLocation</h1>

@code {
    [Inject] private IJSRuntime? JsRuntime { get; set; }
    [Inject] private IGeoLocationService GeoLocationService { get; set; }
    private ElementReference _inputRef;

    public string CurrentLocation;

    public async Task GetLocation()
    {
        GeoLocationService.GetCurrentLocation();
    }

    public async Task OnButtonClicked()
    {
       var geoLocationResponse = await GeoLocationService.GetCoords();
        geoLocationResponse.OnSuccess += (o, args) => CurrentLocation = args.Longtitude;
        geoLocationResponse.OnFailure += (o, args) => throw new Exception("Rip");

    }


}
