@page "/geolocation"
@using BrowserInterop.Extensions
@using Services

<h3>Geolocation</h3>
  <h3>Getting Focused</h3>

    <button @onclick="GetLocation">Get location</button>
    <!--<button @onclick="OnButtonClicked">Get Coords</button> -->
    <h1>Your location: Longitude is @Longitude and Latitude is @Latitude</h1>

@code {
    [Inject] private IGeoLocationService GeoLocationService { get; set; }

    public string CurrentLocation;
    public double Longitude;
    public double Latitude;

    public async Task GetLocation()
    {
        var location = await GeoLocationService.GetCoords();
        Longitude = location.Location.Coords.Longitude;
        Latitude = location.Location.Coords.Latitude;
    }

    public async Task OnButtonClicked()
    {
       var geoLocationResponse = await GeoLocationService.GetCoords();

        Longitude = geoLocationResponse.Location.Coords.Longitude;
        Latitude = geoLocationResponse.Location.Coords.Latitude;

    }


}
